.skills {
    background-color: #0b0334;
    padding: 10%;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.skills h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.icon-wrapper {
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    transition: transform 0.3s ease-in-out;
  }

.icon-wrapper:hover {
    transform: scale(1.3); /* Slightly enlarge on hover */
  }

  .icon-wrapper canvas {
    width: 100%; /* Ensure canvas takes full width of wrapper */
    height: 100%; /* Ensure canvas takes full height of wrapper */
  }
